* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  color: rgb(168, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1.5px 1.5px rgb(107, 85, 85);
  /* text-decoration: underline rgb(170, 66, 66); */
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.media-card {
  /* border: 1px solid; */
  width: 20rem;
  height: 19rem;
  margin-top: 2rem;
  
}

.actual-media {
  /* border: 1px solid; */
  width: 100%;
  height: 80%;
}

.media-buttons {
  /* border: 1px solid; */
  height: 20%;
  width: 100%;
}

.media-buttons button {
  width: 100%;
  height: 50%;
  font-size: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: none;
  outline: none;
}

.media-download {
  background-color: rgba(49, 13, 13, 0.993);
}

.media-delete {
  background-color: rgb(168, 31, 31);
}

.actual-media img,
.actual-media video {
  width: 100%;
  border-radius: 10%;
}
